*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    z-index: 30 !important;
}
.margin{
    margin-left: 20px;
}
.bg-purple{
    background-color: purple;
}
.hover:hover{
    border-bottom: white 5px solid;
    transition: 0.3s;
}
.navbar-nav .nav-link {
    color: #fff !important; 
}
li{
    margin: 0 20px;
    font-size: 20px;
}
@media(max-width: 720px){
   .navbar-toggler {
    border-color: #fff !important;
    color: #fff !important;
}
.navbar-toggler-icon {
    filter: invert(1);
}
}
p{
    font-size: 22px;
    text-align: center;
}
.card{
    margin-top: 120px;
    margin-bottom: 19px;
}
.card-body{
    background-color: black !important;
    color: white !important;
    border-radius: 0 0 10px 10px;
}
.btn-purple{
    background-color: purple!important;
    color: white !important;
}
.btn-purple:hover{
    background-color: black !important;
    color: white !important;
}
footer{
    background-color: purple;
    margin-top: 20px;
    text-align: center;
    .logo{
        padding: 15px
    }
    p{
        font-size: 14px;
        color: white;
    }
    .div-footer{
        color: white;
        margin-top: 40px;
    }
    .numero{
        margin-top: 0;
    }
    .icons{
        margin: 40px 10px;
        text-align: center;
        color: purple;
    }
    i{
        margin: 40px 0;
        text-align: center;
        width: 30px;
        height: auto;
        padding: 5px;
        background-color: white;
        border-radius: 50px;
        transition: 0.5s;
    }
    i:hover{
        background-color: purple;
        color: white;
    }
}
.none{
    display: none;
}
.decoration{
    text-decoration: none;
}

@media(max-width:720px){
    .outrocard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .div-footer{
        display: none;
    }
    .none{
        display: block !important;
    }
    i{
        margin: 10px 0 !important;
    }
    .icons{
        margin: 10px 0 !important;
    }
    .mobile-margin{
        margin-top: 70px !important;
        margin-bottom: 10px !important;
    }
}
.imagem {
    margin-top: 110px;
}
.imagem2 {
    margin-top: 20px;
}
.imagem,
.imagem2 {
    width: 100%;
    max-width: 650px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {
    font-size: 22px;
    font-weight: bold;
    color: black !important;
    margin-top: 30px;
    text-align: left !important;
}
.mobiletitle {
    margin-top: 150px;
}

.paragrafo{
    text-align: left !important;
    font-size: 18px;
}
h4{
    margin: 20px;
    font-weight: bold;
}
iframe{
    border-radius: 15px;
}

@media (max-width: 720px) {
    .imagem,
    .imagem2 {
        max-width: 100%;
        margin-top: 30px;
    }
    .titulo {
        margin-top: 30px;
        font-size: 20px;
        text-align: center !important;
    }
    .mobiletitle{
        margin-top: 100px !important;
    }
    .paragrafo {
        margin-top: 10px;
        width: 80%;
        margin: auto;
        font-size: 18px;
        text-align: center !important;
    }
    h4 {
        font-size: 20px;
        margin: 20px;
    }
    iframe {
        width: 100% !important;
        height: 250px !important;
    }
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.margin-top{
    margin-top: 100px;
    font-weight: bold;
}
aside{
    border: 2px solid purple;
    margin-top: 120px;
    padding: 15px 10px;
    left: 40px;
    border-radius: 20px;
    h5{
        font-weight: bold;
    }
    ul{
        padding: 0;
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 14px;
        margin: 15px;
        cursor: pointer;
    }    
    a:hover{
        color: purple;
        transition: 0.5s;
    }
}
.subtitulo{
    margin-top: 40px;
    font-weight: bold;
    text-align: center !important;
    background-color: purple;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    width: 50%;
    margin: auto;
}
.texto-produtos{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
    padding-top: 70px;
    width: 70%;
    margin: auto;
    
}
.text-decoration-none {
    text-decoration: none;
}
.link-produto{
    color: black;
}
.accordion-body {
    background-color: #fff !important;
    color: #000 !important;
}
.accordion-item {
    background-color: #fff !important;
}
.fundo{
    background-color: #fff !important;
    color: #000 !important;
}
.card-format{
    height: 600px;
}
.card-format2{
    height: 500px;
}
.card-format3{
    height: 575px;
}
.accordion-body{
    z-index: 10 !important;
    position: relative !important;
}
.mobile-text {
    display: none;
}
.hidden{
    display: none !important;
}
@media (max-width: 720px) {
    .conteudo {
        display: block;
    }
    aside {
        margin-top: 20px;
        margin-bottom: 20px;
        left: 0;
        width: 100%;
        border-radius: 10px;
    }
    .card,
    .card-format,
    .card-format2,
    .card-format3 {
        height: auto !important;
        min-height: 0 !important;
        margin-top: 30px;
    }
    .card-body {
        padding: 10px;
    }
    .texto-produtos {
        width: 100%;
        font-size: 18px;
        padding-top: 20px;
    }
    .mobile-hidden{
        display: none;
    }
    .mobile-text{
        display: block;
        display: inline;
    }
    .desktop-text {
        display: none;
    }
    .hidden {
        display: block !important;
    }
    .mobile-hidden{
        display: none !important;
    }
    .subtitulo {
        width: 60%;
    }
    .list-group-item {
        padding: 10px 15px;
        font-size: 20px;
    }
}
.titulo-contato{
    margin-top: 100px;
    
}
.errorimg{
    text-align: center;
    justify-content: center;
}
.conta{
    width: 50%;
    margin: auto;
    text-align: center;
}