*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-purple{
    background-color: purple;
}
.navbar-nav .nav-link {
    color: #fff !important; 
}
li{
    margin: 0 20px;
    font-size: 20px;
}
.linha{
    margin: 3px 20px 0px 20px;
}
@media(max-width: 720px){
   .navbar-toggler {
    border-color: #fff !important;
    color: #fff !important;
}
.navbar-toggler-icon {
    filter: invert(1);
}
}
.titulo{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 25px;
}
strong{
    color: purple;
}
p{
    font-size: 22px;
    padding-top: 250px;
    text-align: center;
    font-weight: bold;
}
.quadrado{
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
}
.botao{
    text-decoration: none;
    color: purple;
    font-weight: bold;
    padding-bottom: 50px;
    font-size: 18px;
}
.btn-purple{
    background-color: purple !important;
    color: white !important;
}
.btn-purple:hover{
    background-color: white !important;
    color: purple !important;
}
@media(max-width:720px){
    
}